<header>
  <span>Logged as {{ name }}</span
  ><span (click)="logout()">Logout</span>
</header>
<main>
  <section class="message-section">
    <div
      [ngClass]="name === post.title ? 'my-message' : 'others-message'"
      class="message"
      *ngFor="let post of posts$ | async"
    >
      <span class="message-author"
        ><b>{{
          post.title === name ? "Yo" : (post.title | titlecase)
        }}</b></span
      >

      <p>{{ post.content }}</p>
    </div>
  </section>
  <form
    class="new-message-section"
    (submit)="createPost($event)"
    [formGroup]="form"
  >
    <input
      placeholder="Type your message here..."
      type="text"
      name="content"
      id="content"
      formControlName="content"
      autofocus
      autocomplete="off"
    />
  </form>
</main>
